html {
  background: var(--dark);


  --dark: #323232;
  --less-dark: #595959;
  --light: #e2e2e0;
  --red: rgb(239, 64, 60);
  --less-red: rgba(180, 56, 45, .75);
  --green: rgb(0, 183, 70);
  --less-green: rgba(169, 189, 54, .75);
}

body {
  margin: 0px;
}