html {
  background: var(--dark);


  --dark: #323232;
  --less-dark: #595959;
  --light: #e2e2e0;
  /* --red: #ff1000; */
  /* --green: #09EE10; */
  --red: rgb(239, 64, 60);
  --green: rgb(0, 183, 70);
}

body {
  margin: 0px;
}